<nav class="navbar navbar-expand-lg navbar-light bg-light  justify-content-between">
  <a class="navbar-brand" href="#">WST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="loggedIn">
    <ul class="navbar-nav mr-auto">

      <li>
        <a class="nav-link" (click)="serieRouter()">Overzicht</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/account">Account</a>
      </li>


    </ul>

    <ul class="navbar-nav ml-auto">

      <form class="form-inline" #searchForm="ngForm" (ngSubmit)="searchSubmit(searchForm)" novalidate>
        <div class="form-group">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchText" aria-label="Search"
          [(ngModel)]="search">
          <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </div>
      </form>

      <li  class="nav-item">
        <a class="nav-link">Logged in as {{name}}</a>
      </li>
      <li (click)="logout()" class="nav-item">
        <a class="nav-link" >Logout</a>
      </li>
    </ul>
  </div>
</nav>